<section class="article-infos">
	<span title="Publish Date">
		📅 {{ article.locale_date }} 
	</span>

	{% if DISPLAY_CATEGORY_ON_ARTICLEINFO %}
		<div title="Category">
			⭐ <a href="{{ SITEURL }}/{{ article.category.url }}">
				{{ article.category }} 
			</a>
		</div>
	{% endif %}

	{% if article.author and DISPLAY_AUTHOR_ON_ARTICLEINFO %}
		<span title="Author">
			✍️ <a href="{{SITEURL}}/{{ article.author.url }}">
				{{ article.author }}
			</a>
		</span>
	{% endif %}

	{% if article.hundreddaystooffload %}
		<span>
			💯 Day <strong>{{ article.hundreddaystooffload }}</strong> of <a href="https://100daystooffload.com">#100DaysToOffload</a>
		</span>
	{% endif %}

	{% if article.tags %}
		<span title="Tags">
			🏷️ {% for tag in article.tags %}
					<a href="{{ SITEURL }}/{{ tag.url }}">
						{{ tag }}
					</a>
				{% endfor %}
		</span>
	{% endif %}
</section>
