{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}

{% block content %}
    <h1>
		{{ article.title}}
	</h1>
	{% include 'article_infos.html' %}
	<br>
	{{ article.content }}

	{% if article.hundreddaystooffload %}
	<!-- #100DaysToOffload message -->
		<p>Day <strong>{{ article.hundreddaystooffload }}</strong> of <a href="https://100daystooffload.com/" title="Learn more about the challenge">#100DaysToOffload</a></p>
	{% endif %}
    
	{% if article.comment %}
		{% include 'comments.html' %}
	{% endif %}
{% endblock %}
