{% extends "base.html" %}

{% block content_title %}{% endblock %}

{% block content %}
{% if articles %}
	{% for article in articles_page.object_list %}
		<article>
			<h2>
				<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Read {{ article.title|striptags }}">
					{{ article.title }}
				</a>
			</h2>
			{% include 'article_infos.html' %}
		</article>
	<br>
	{% endfor %}

	<br>
	{% include 'pagination.html' %}

{% endif %}
{% endblock %}
