/*             _   _      _        _        __
 *   __ _ _ __| |_(_) ___| | ___  (_)_ __  / _| ___  ___
 *  / _` | '__| __| |/ __| |/ _ \ | | '_ \| |_ / _ \/ __|
 * | (_| | |  | |_| | (__| |  __| | | | | |  _| (_) \__ \
 *  \__,_|_|   \__|_|\___|_|\___| |_|_| |_|_|  \___/|___/
 */

.article-infos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.article-infos span {
	flex-basis: 22rem;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 720px) {
	.article-infos {
		flex-direction: column;
	}
}

/*                    _             _   _
 *  _ __   __ _  __ _(_)_ __   __ _| |_(_) ___  _ __
 * | '_ \ / _` |/ _` | | '_ \ / _` | __| |/ _ \| '_ \
 * | |_) | (_| | (_| | | | | | (_| | |_| | (_) | | | |
 * | .__/ \__,_|\__, |_|_| |_|\__,_|\__|_|\___/|_| |_|
 * |_|          |___/ 
 */

.pagination {
	display: grid;
	grid-column-gap: 1rem;
	padding-bottom: 0.3rem;
	grid-template-columns: 80px 80px auto 80px 80px;
	grid-template-rows: 4rem;

	font-size: 1.5rem;    
	text-align: center;

	grid-row-start: 1;
	grid-row-end: 1;
}

.pagination-button {
	margin: 0;
}

.pagination-number {
	margin: 0;
	grid-column-start: 3;
	grid-column-end: 4;
}

/*
 *             _   _             _           _   _
 *   __ _  ___| |_(_)_   _____  | |__  _   _| |_| |_ ___  _ __
 *  / _` |/ __| __| \ \ / / _ \ | '_ \| | | | __| __/ _ \| '_ \
 * | (_| | (__| |_| |\ V |  __| | |_) | |_| | |_| || (_) | | | |
 *  \__,_|\___|\__|_| \_/ \___| |_.__/ \__,_|\__|\__\___/|_| |_|
 */

.active {
	color: var(--accent) !important;
	border-color: var(--accent);
}

